<?xml version="1.0"?>
<launch>

<node name="bgfx_ros" pkg="bgfx_ros" type="bgfx_ros"
    output="screen"/>

<node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view"
    output="screen"
    args="/image" />

<node pkg="tf" type="static_transform_publisher" name="frame1_broadcaster"
    args="0 0 5.0 0 0 0.3 map frame1 100" />
<!--
<node pkg="tf" type="static_transform_publisher" name="camera_broadcaster"
    args="0 0 -1 0 0 0 map camera_frame 100" />
-->
</launch>
